# Конфигурация интерфейса (Сервер РФ)
[Interface]
PrivateKey = ${SERVER_PRIV_KEY}
Address = 10.8.0.1/24
ListenPort = 51820

# AmneziaWG маскировка для обхода DPI
Jc = 4
Jmin = 50
Jmax = 1000
S1 = 80
S2 = 120
H1 = 1
H2 = 2
H3 = 3
H4 = 4

# Настройка NAT и маршрутизации обрабатывается в entrypoint.sh

# Пир (Клиент)
#[Peer]
#PublicKey = <КЛЮЧ_КЛИЕНТА>
#AllowedIPs = 10.8.0.2/32
